/* Global Styles */

/* Example */

/* Global variables */
:root {
	--primary-green: darkgreen;
	--secondary-green: limegreen;
	--tertiary-green: lime;
	--font-size-big: 32px;
	--font-size: 16px;
}

/* Window or Body element */

body {
	background-color: rgb(40 36 36);
}
