/* Global Styles */

/* Example */

/* Global variables */
:root {
	--primary-background: linear-gradient(#96cadb, #c5dfe8);
	--secondary-background: white;
	--primary-color: #006ea9;
	--secondary-color: #c5dfe8;
	--tertiary-color: white;
	--font-size-big: 32px;
	--font-size: 16px;
	--font-size-small: 8px;
	--font-family-text: 'Arial', sans-serif;
	--font-family-button: 'Anton SC', 'Arial', sans-serif;
	--font-family-scene: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

/* Window or Body element */

* {
	background-color: transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

body {
	background: var(--primary-background);
	height: 100dvh;
	width: 100dvw;
}
